<div class="jumbotron">
    <h2>Welcome, Bienvenidos ようこそ, Welkom, 歡迎光臨, Bienvenue, Aloha, स्वागत, Bem-vindo, Binvinutu, ยินดีต้อนรับ, Ghini vinit, أهلاً و سهل  </h2>
  <p>This is my personal photography site and its dedicated to things/travels/people over the fast few months. gitThis pictures were taken with my own
  iphone 6.</p>


  <p align="center">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>


  </p>
</div>
