<div class="jumbotron">
  <h1>About Us</h1>
<p>Welcome to Maxtesresting application!</p>
  <p>This is application was built using Ruby On Rails using scaffolding methods to quickly build an application.
  We are very proud to show you what we can do and what enhancement are coming soon.</p>
</div>