<script type="text/javascript">

    $(document).ready(function() {
        var images = ['04.jpg', '05.jpg', '06   .jpg'];

        $('.jumbotron').css({'background-image': 'url(/images/' + images[Math.floor(Math.random() * images.length)] + ')'});
    });

</script>

<div class="jumbotron">
  <h1>About Me</h1>
<p>Welcome to my photography gallery. A little about me: </p>
  <h3>Name: Max Monterrey</h3>
  <h3>Profesion: Oracle Fusion Middleware Specialist</h3>
  <h3>Hobbies: photography, iphoneography, traveling, foodie, web dev</h3>
  <p>This site is dedicated primarily to my iphoneography hobby. I have been traveling with my family for the last year and
  in the process uploaded pictures of family and things I find interesting. I love taking picture with my iphone and now that
  I am learning Ruby on Rails I have a home to upload them.</p>
  <div class="container"> <p></p></div>
</div>