<div >
  <h1>About Me</h1>
<p>Welcome to my photography gallery. A little about me: </p>
  <h3>Name: Max Monterrey</h3>
  <h3>Profesion: Oracle Fusion Middleware Specialist</h3>
  <h3>Hobbies: photography, iphoneography, traveling, foodie, web dev</h3>
  <p>Over the few months I have been traveling I wanted to share my pictures with loved ones so I created this application so my loves one could see on a daily/weekly or monthly process
  what I have been doing by means of pictures.</p>
  <div class="container"> <p></p></div>
</div>