<div class="jumbotron">
  <h2>About Me</h2>
<p>Welcome to photography gallery</p>
  <p>Over the few months I have been traveling I wanted to share my pictures with loved ones so I created this application so my loves one could see on a daily/weekly or monthly process
  what I have been doing by means of pictures.</p>
</div>